.nav-container {
    background-color: #FFF0ED;
}

.header-footer {
    background-color: #FFF0ED;
    background-size: contain;
    width: 100%;
    display: inline-block;
}


.buttons-1 {
    background-color: #5BACC3;
    border: none;
    color: white;
    width: 180px;
    padding: 20px;
    font-size: 1.313rem; /*21px*/
    font-weight: 400;
}

.discount-section-parent {
    display: flex;
}

.discount-section {
    width: 90%;
    background-color: #393939;
    color: white;
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    justify-content: center;
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.bold-nitro {
    font-weight: 700;
}

.weekdays {
    font-family: 'Open Sans Bold';
}

.general-text{
    font-weight: 400;
}

.nav-link-button {
    font-size: 21px;
    font-weight: 400;
}

.view-all {
    padding: 1px;
    color: white;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    vertical-align: middle;
    margin-right: 45%;
    margin-left: 35%;
}

.social-image-container {
    width: 2.11vw;
}

.product-card {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px  rgba(0, 0, 0, 0.25);
    padding-top: 1.5%;
    background-color: #FFF;
    border-radius: 10px;
    margin:2.5rem;
}

.nitro-section {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    padding-bottom: 10rem;
}

.nitro-section-1 {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 35%;
    margin-bottom: 20%;
}

.big-coffee-container {
    display: inline-block;
    vertical-align: middle;
    width: 549px; 
    height: 986.4px; 
    background-image: url("/assets/images/coffeebeans-hero.png"); 
    background-size: cover;
    margin-bottom: 50px;
}

.nitro-coffee-title {
    margin-bottom: -1%;
}

.our-products {
    display: block;
    background-color: #F7F7F7;
}

.center-product-text {
    text-align: center;
    background-color: #F7F7F7;
    margin: 0%;
}

.footer-style {
    background-color: #FFF0ED;
    width: 100%;
    display: flex;
    margin-top: 10%;
}

.address, .hours, .social {
    flex: .25;
    /*border: 2px solid blueviolet;*/
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.product-card-title {
    background-color: #FFF0ED;
    margin-bottom: 0%;
    order: 0;
}

.product-image-container {
    display:flex;
    justify-content: center;
}

.product-card-container {
   display: flex;
   width: 100%;
   align-content: center;
   justify-content: center;
}

.product-card-container div {
    align-items: center;
    width: 100%;
}

.product_card--description {
    margin: 0%;
    background-color: #FFF0ED;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product_card--quantity {
    color:#909090;
    flex-grow: 1;
    align-self: flex-end;
    order: 2;
}

.product_card--price {
    color: #5BACC3;
    background-color: #FFF0ED;
    margin: 0%;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: auto;
    order: 1;
}
