.navigation-bar-container {
    text-align: left;
    width: 100%;
    height: 53.23vh;
    background-size: cover;
    background-image: url("/assets/images/coffee-circle.jpg");
    background-position: center;
    text-size-adjust: auto;
    margin-top: -40px;
}

.menu-box {
    width: 15vw;
    height: 14.85vh;
    background-color: #393939;
    color: white;
    text-align: center;
    padding: 2%;
    display: block;
    position: relative;
    margin-left: 40%;
    padding-top: 0%;
    padding-bottom: 3.125rem; /*50px*/
}

.menu-container {
    text-align: center;
    background-color: #393939;
    font-size: 1.313rem;              /*   21px   */
    color: white;
    width: 100%;
    margin-top: -21px; /*21px*/
    display: inline-block; 
    height: max-content;
}

.hot-drinks, .pastries {
    background-color: #fff0ed;
    margin-top: -50px;
    padding-top: 10px; /*10px*/
    display: block;
    max-height: fit-content;
    padding-bottom: 5rem; /*80px*/
}

.cold-drinks {
    background-color: #F7F7F7;
    margin-top: -50px;
    padding-top: 0.625rem; /*10px*/
    display: block;
    max-height: fit-content;
    padding-bottom: 5rem; /*80px*/
}

.menu-subtitle, .menu-title {
    text-align: center;
}

.item-description {
    text-align: center;
    font-size: 1.125rem;                   /* 18px */
    font-family:'Open Sans italic';
    font-weight: 400;
}

.prices {
    text-align: center;
    color: #5BACC3;
    margin-bottom: 15px;
    font-family:'Open Sans italic';
}

.center-align {
    text-align: center;
}

.header-parent {
    height: 14vh;  /*200px in 1920 viewport ues 200px if you want to revert*/
    width: 100%;
    text-align: left;
    background-color: #FFF0ED;
    display: inline-block;
    padding-bottom: 1%;
    
}

.header-icon-container, .menu-page-title, .menu-top, .shop-now-top, .about {
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.menu-page-title {
    margin-right: 1%;
    
}

.menu-top, .shop-now-top, .about {
    margin: 1.75rem;
    display: inline-block;

}

.header {
    display: inline-block;
}

.menu-items {
    margin-top: -50px;
}

#div {
    display: block;
}

.nav-links {
    margin: 1.25rem; /*20px*/
    padding: 1.25rem; /*20px*/
}

.hot-drink-link, .cold-drink-link, .pastries-link {
    display: inline-block;
    margin-left: 1.25rem; /*20px*/
    margin-right: 1.25rem; /*20px*/
    border-width: 4px;
    border-left: 3px solid #5BACC3;
    padding-left: 1rem;
    font-size: 33px;
    

}

.header-icon-container {
    margin-left: 2%;
    margin-right: .5%;
}